body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(45deg, #f8c0c0, #d1d8f2);  /* Pink gradient background */
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #00796b;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: #004d40;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 350px;
    height: 100px;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #26a69a;
}

.card h2 {
    margin: 0;
    font-size: 24px;
    color: white;
}
